<style>
#yusiLocker{
position:fixed;inset:0;
z-index:9999999;
background:#000;
backdrop-filter:blur(8px);
overflow:hidden
}

#yusiTop{
position:fixed;
top:18px;
left:50%;
transform:translateX(-50%);
width:90%;
max-width:700px;
display:flex;
align-items:center;
gap:8px;
z-index:99999999
}

#yusiProgress{
height:3px;
flex:1;
background:#ffffff55;
border-radius:20px;
overflow:hidden;
transition:.3s
}

#yusiProgress i{
display:block;
width:100%;
height:100%;
background:#fff;
transform-origin:right;
transition:transform 1s linear
}

#yusiClose{
display:none;
width:22px;
height:22px;
border:0;
border-radius:50%;
background:#fff;
font-size:15px;
line-height:22px;
text-align:center;
cursor:pointer;
padding:0
}

.yusiContent{
width:100%;
height:100%;
padding:35px 15px;
overflow:auto;
overflow-x:hidden;
word-break:break-word
}

.yusiContent img,
.yusiContent video{
max-width:100%;
height:auto
}
</style>


<div id="yusiLocker">

<div id="yusiTop">

<div id="yusiProgress">
<i></i>
</div>

<button id="yusiClose">×</button>

</div>


<div class="yusiContent">
<center>
{% include /ads/banner/02.html %}
{% include /ads/banner/03.html %}
{% include /ads/banner/04.html %}
{% include /ads/banner/08.html %}
</center>

</div>

</div>


<script>
(()=>{

let t=15,
bar=document.querySelector("#yusiProgress i"),
top=document.querySelector("#yusiTop"),
close=document.querySelector("#yusiClose"),
locker=document.querySelector("#yusiLocker");

let run=setInterval(()=>{

bar.style.transform=`scaleX(${--t/15})`;

if(t<=0){

clearInterval(run);

bar.parentElement.style.display="none";
close.style.display="block";

}

},1000);


close.onclick=()=>locker.remove();

})();
</script>



{% include /ads/gobloggugel/umum.html %}

